.nav-bar {
  background-color: black;
}

.menu {
  display: block;
  z-index: 999999;
  color: white;
}
.menu li {
  display: inline-block;
  position: relative;
}
.menu li.dropdown:hover > .submenu {
  display: block;
}
.menu li a {
  display: block;
  padding: 12px 8px;
  background: black;
  text-decoration: none;
  color: white;
}
.menu li a:hover {
  background: grey;
}

.menu .submenu {
  display: none;
}
.submenu {
  margin: 0px;
  padding: 0px;
  position: absolute;
  left: 0px;
  list-style-type: none;
  display: block;
  width: 200px;
  z-index: 9;
}

.submenu li {
  display: block;
}

.submenu li a {
  display: block;
  background: black;
  color: #fff;
  padding: 8px 6px;
  margin-bottom: 1px;
}
.menu .submenu > li.dropdown:hover > .submenu {
  display: block;
}

.menu .submenu .submenu {
  position: absolute;
  left: 200px;
  top: 0px;
}