.item {
  display: inline-block;
  padding: 8px;
  width: 234px;
}

.item:hover {
  background-color: lightgray;
  cursor: pointer;
}

.item table {
  border-collapse: collapse;
  width: inherit;
}

.icon {
  width: 20px;
  height: 20px;
  display: block;
}

.iconCell {
  width: 1px;
}

.wrapper {
  display: grid;
  grid-template-columns: 200px 50px;
}
