.worker-table {
  border-collapse: collapse;
  margin: 5px;
}

.worker-table,
.worker-table td,
.worker-table th {
  border: 1px solid black;
  padding: 5px;
}

.worker-table tr:nth-child(odd) {
  background-color: lightgray;
}
