.nested-list-item-enabled {
  padding: 8px;
  display: grid;
  grid-template-columns: 1fr 40px 40px;
  border-top: 1px solid #dddddd;
  align-items: center;
}

.nested-list-item-disabled {
  padding: 8px;
  display: grid;
  grid-template-columns: 1fr 40px;
  border-top: 1px solid #dddddd;
  align-items: center;
}

.nested-list-item-enabled:hover {
  background-color: #dddddd;
  cursor: pointer;
}

.nested-list-forward-icon {
  width: 20px;
  height: 20px;
  padding: 10px;
  display: block;
}
