.nested-list-item {
  padding: 8px;
  display: grid;
  border-top: 1px solid #dddddd;
  align-items: center;
}

.nested-list-item.enabled {
  grid-template-columns: 1fr 40px;
}

.enabled:hover {
  background-color: #dddddd;
  cursor: pointer;
}

.nested-list-item.disabled {
  grid-template-columns: 1fr 40px;
  color: rgb(84, 84, 84);
  background-color: #e9ecef;
}