.flat-topic-table {
  table-layout: fixed;
  border-collapse: collapse;
  margin: 10px 0px;
  width: 100%;
}

.flat-topic-table td {
  width: 50%;
}

.flat-topic-table,
.flat-topic-table td,
.flat-topic-table th {
  border: 1px solid black;
  padding: 5px;
}

.flat-topic-table tr:nth-child(odd) {
  background-color: lightgray;
}
