@import 'react-big-calendar/lib/sass/styles';

.rbc-day-slot .rbc-time-slot {
  border-top: 1px solid #dddddd;
}

.rbc-timeslot-group {
  border-bottom: 1px solid #95a5a6;
}

.rbc-calendar {
  height: 800px;
}